<% if @newest_projects.empty? %>
  <p class="widget-box--additional-info">
    <%= t('homescreen.additional.no_visible_projects') %>
  </p>
<% else  %>
  <ul class="project-list">
    <% @newest_projects.each do |project| %>
      <li class="pt-1 pb-2">
        <h5 class="fs-14">
          <%= link_to project, project_path(project), title: short_project_description(project), class: "text-body" %>
        </h5>
      </li>
    <% end %>
  </ul>
<% end %>
