<% if @newest_projects.empty? %>
  <p class="widget-box--additional-info">
    <%= t('homescreen.additional.no_visible_projects') %>
  </p>
<% else  %>
  <ul class="project-list fs-16">
    <% @newest_projects.each do |project| %>
      <li class="py-1">
        <%= link_to project, project_path(project), title: short_project_description(project), class: "badge fw-medium bg-secondary-subtle text-secondary" %>
      </li>
    <% end %>
  </ul>
<% end %>
