body.zen-mode
  #main-menu
    display: none
  #content-wrapper
    height: 100vh
    width: 100%

  #main
    height: 100%
    grid-template-columns: auto

  .first-container
    width: 0 !important

  .second-container
    width: 100% !important
    padding: 0 !important
