@if (form && handleSubmit) {
  <form
    data-qa="op-form--container"
    class="op-form"
    [formGroup]="form"
    (submit)="submitForm(form)"
  >
    <formly-form
      [form]="form"
      [model]="innerModel"
      [fields]="fields"
      (modelChange)="onModelChange($event)"
      class="op-form--fieldset"
    />

    <div class="op-form--submit m-0">
      <button
        type="submit"
        class="button -primary"
        [disabled]="inFlight"
      >
        {{ text.save }}
      </button>

      <button
        type="button"
        class="button rounded-border"
        (click)="handleCancel()"
      >
        {{ text.cancel }}
      </button>
    </div>
  </form>
}

@if (form && !handleSubmit) {
  <formly-form
    data-qa="op-form--container"
    class="op-form--fieldset"
    [form]="form"
    [model]="innerModel"
    [fields]="fields"
    (modelChange)="onModelChange($event)"
  />
}
