<collapsible-section-augment initially-expanded="<%= initiallyExpanded %>"
                             section-title="<%= title %>">
</collapsible-section-augment>
<div class="collapsible-section-augment--body mx-3" hidden>
  <%= capture(&block) %>
</div>
