<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<div class="op-activity-days px-3">
  <div class="table-responsive table-card mt-2 mb-1 manual-table">
    <table class="table align-middle table-nowrap" id="customerTable">
      <thead class="table-light">
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Description</th>
          <th>comments</th>
          <th>Details</th>
          <th>Activity Log</th>
        </tr>
      </thead>

      <tbody class="list form-check-all">
        <% events_by_day_sorted_by_newest_first.each do |day, events| %>
          <%=
            render(Activities::ItemComponent.with_collection(events,
                                                            day: day,
                                                            current_project: @current_project,
                                                            display_user: @display_user,
                                                            activity_page: @activity_page))
          %>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
