<li
  class="op-menu--item"
  data-augmented-model-wrapper
  data-activation-selector=".onboarding-modal--activation-link"
  data-modal-iframe-url="https://www.youtube.com/embed/b0k9VQep8gI"
  data-modal-class-name="onboarding-modal"
>
  <%= link_to 'Getting Started',
              '',
              title: 'Getting Started',
              class: 'op-menu--item-action onboarding-modal--activation-link' %>
  <%= render partial: '/onboarding/onboarding_video_modal' %>
</li>
