<div class="bg-white p-4 mb-4 rounded-border" style="border: 1px solid #000;">
<%= render(Overviews::PageHeaderComponent.new(project: @project, current_user:)) %>
<%= render(Overviews::DashboardComponent.new(project: @project, current_user:)) %>
</div>
