@import "../../global_styles/openproject/variables"

.op-grid-page
  &--title-container
    margin-left: 20px
    // Ugly way to cover the additional space that the "add" rows need
    // Since they are most of the time invisible the spacings look odd then.
    margin-bottom: -5px

  &--toolbar-container
    margin-bottom: 0

  &--toolbar-items
    padding-right: 20px

  &--grid-container
    display: grid
    // grid-template-columns: auto 324px
    // firefox issue when using auto or 1fr
    // inner content width of the main-content is calculated dynamically
    // chrome and firefox seem to come to different results
    // temporary fix: use more specific width rules, e.g. 75% and 25%
    // same issue with flex-box approach
    grid-template-columns: 75% 25%
    gap: 20px

  &--sidebar
    margin: 20px 40px 20px 0
    padding: 20px
    background-color: #fff
    border-radius: 33px
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1)
    border: 1px solid #000

    &:hover
      box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1)

@media only screen and (max-width: $breakpoint-sm)
  .op-grid-page--title-container
    margin-left: 0
    margin-bottom: 0
