<spot-tooltip
  [alignment]="getTooltipAlignment"
  [disabled]="!content.tooltip"
>
  <p
    slot="body"
    class="spot-body-small"
  >{{content.tooltip}}</p>

  <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
  <label
    slot="trigger"
    class="spot-list--item-action"
    data-test-selector="op-files-picker-modal--list-item"
    (click)="enterDirectoryOnLabel($event)"
    (keydown.enter)="enterDirectoryOnLabel($event)"
    (keydown.space)="enterDirectoryOnLabel($event)"
    tabindex="0"
    role="button"
    [ngClass]="{
      'spot-list--item-action_disabled': content.disabled,
      'op-file-list--item-action_view-not-allowed': content.isConstrained
    }"
  >
    <spot-checkbox
      *ngIf="!!content.checkbox"
      [checked]="content.disabled || content.checkbox.selected"
      (checkedChange)="content.checkbox.changeSelection()"
      [disabled]="content.disabled"
    ></spot-checkbox>

    <div class="spot-list--item-title op-file-list--item-title">
      <ng-container *ngIf="content.isDirectory; else fileIconTemplate">
        <svg
          *ngIf="content.mimeType === 'application/x-op-drive'; else folderIconTemplate"
          server-icon
          size="small"
          class="op-files-tab--icon op-files-tab--icon_primary"
        ></svg>
        <ng-template #folderIconTemplate>
          <svg
            file-directory-fill-icon
            size="small"
            class="op-files-tab--icon op-files-tab--icon_primary"
          ></svg>
        </ng-template>
      </ng-container>
      <ng-template #fileIconTemplate>
        <ng-container [ngSwitch]="content.icon.icon">
          <svg *ngSwitchCase="'file'"
               file-icon
               size="small"
               class="op-files-tab--icon op-files-tab--icon_{{content.icon.clazz}}"></svg>
          <svg *ngSwitchCase="'file-media'"
               file-media-icon
               size="small"
               class="op-files-tab--icon op-files-tab--icon_{{content.icon.clazz}}"></svg>
          <svg *ngSwitchDefault
               file-icon
               size="small"
               class="op-files-tab--icon op-files-tab--icon_{{content.icon.clazz}}"></svg>
        </ng-container>
      </ng-template>

      <span [textContent]="content.name"></span>
    </div>

    <span
      *ngIf="!content.isDirectory"
      class="op-file-list--item-text"
      [textContent]="content.timestamp"
    ></span>

    <op-principal
      *ngIf="!content.isDirectory"
      class="op-file-list--item-avatar"
      [principal]="principal"
      [hideName]="true"
      [size]="'mini'"
      [link]="false"
    ></op-principal>

    <button
      *ngIf="content.isDirectory"
      class="spot-link op-file-list--item-button"
      data-test-selector="op-files-picker-modal--list-item-caret"
      (click)="content.enterDirectory()"
      (keydown.enter)="content.enterDirectory()"
      (keydown.space)="content.enterDirectory()"
    >
      <svg chevron-right-icon size="small"></svg>
    </button>
  </label>
</spot-tooltip>
